<%- include("../../partials/header") %>

<div class="container">
    <div class="row">
        <div class="col-12">
            <h3>Grade <%= section.grade %> Section <%= section.section %> (<%= section.schoolYear %>)</h3>
        </div>
        
        <div class="col-12">
            <table class="table table-striped text-center mt-4">
                <thead>
                    <tr class="bg-primary text-white">
                        <th>Teacher</th>
                        <th>Subject</th>
                        <th>Time In</th>
                        <th>Time Out</th>
                        <th>Room</th>
                    </tr>
                </thead>
                <tbody>
                    <% function compare( a, b ) { %>
                        <% if ( a.timeIn < b.timeIn ) { %>
                          <% return -1; %>
                        <% } %>
                        <% if ( a.timeIn > b.timeIn ) { %>
                          <% return 1; %>
                        <% } %>
                        <% return 0; %>
                    <% } %>
                    <% section["schedule"].sort(compare); %>
                    <% section["schedule"].forEach(function(schedule){ %>
                        <% if(schedule.subject !== undefined) { %>
                            <tr>
                                <td><%= schedule.teacher %></td>
                                <td><%= schedule.subject %></td>
                                <td><%= schedule.timeIn %></td>
                                <td><%= schedule.timeOut %></td>
                                <td><%= schedule.room %></td>
                            </tr>
                        <% } %>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </div>
</div>

<%- include("../../partials/footer") %>